.navbar .logo{
    height: 80px;
}
.d-block{
    height:500px;
    width: 100%;
    background-color: blue;
    margin-bottom: 50px;
    
}
.img-para{
    width:100%;
    background-color: red;
    margin-top: 30px;
}  
.para{
    font-size: 14px;
    float: left;
    display: flex;
    align-content: left;
    
    width: 40%;
}
.image{
   float:right;
    width:60%;
}
.image img{
    width:550px;
    float:right;
    height: 290px;
   margin-bottom: 30%; 
}

.navbar{
    background-color: brown;
    
}

.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 8px 10px;
    padding: 2px;
    margin-bottom: 2px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
}
.search{
    padding: 10px 15px;
    margin-left: 300px;
}

.navbar-nav{
   padding: 0px;
}
