* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}


.sidenav {
	position: fixed;
	top: 0px;
	width: 250px;
	height: calc(100%);
	background:rgb(13, 93, 158);
	padding: 20px 30px;
	
}
.logout{
	font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
}

.sidenav ul {
	margin-top: 20px;
}
.sidenav ul li{
	width:100;
	list-style:none;
}

.sidenav ul li a {
	width:100%;
	text-decoration:none;
	color:rgb(255, 255, 255);
	height:60px;
	display:flex;
	align-items:center;
}

.sidenav ul li a i{
	min-width: 60px;
	font-size: 24px;
	text-align:center;
}

/* main section starts here*/
.main{
	position:absolute;
	top:0px;
	width:calc(1280px);
	left:250px;
	min-height: calc(100vh);
	background:rgb(239, 237, 237);

}
	

.cards{
	width:100%;
	padding:35px 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:20px;
}

.cards .card{
	padding:20px;
	display:flex;
	align-items:center;
	justify-content: space-between;
	background: white;
	border-radius:10px;
	box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.number{
	font-size: 34px;
}

.icon-box i{
	font-size: 40px;
}
/* chart starts here*/
.charts{
	display:grid;
	grid-template-columns: 2fr 1fr;
	grid-gap:20px;
	width:100%;
	padding:20px;
	padding-top:0;
}

.chart{
	background:white;
	padding:20px;
	border-radius:10px;
	box-shadow:0 7px 25px rgba(0, 0, 0, 0.08);
}

.chart h2{
	margin-bottom: 5px;
	color:brown;
	text-align: center;
}
.logout {
	font-size: .8em;
	font-family: 'Oswald', sans-serif;
	  position: relative;
	right: -18px;
	bottom: -4px;
	overflow: hidden;
	letter-spacing: 3px;
	opacity: 0;
	transition: opacity .45s;
	-webkit-transition: opacity .35s;
	
  }
  
  .sidenav input{
		display: inline-block;
		padding: 10px 25px;
		font-size: 16px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
		color: #e5e0ed;
		background-color: #db2509;
		border: none;
		border-radius: 15px;
		box-shadow: 0 3px #339c8e;
	  }
	  
	  .sidenav input:hover {
		color:rgba(0, 0, 0, 0.762);
		background-color: #d7e2d7;
	}
	  
	  .sidenav input:active {
		background-color: #3e8e41;
		box-shadow: 0 2px #b13333;
		transform: translateY(2px);
	  }

/* table{
	margin:20px;
} */



